{% extends "layout/base.html" %}
{% block content %}
    <div class="mt-5" x-data="pageData" x-init="await choosenPokemon;">
        <div x-show="isLoading">
            <h3>Catching Pokemon!</h3>
        </div>
        <template x-if="!isValid">
            <h3>Pokemon got away!</h3>
        </template>
        <template x-if="pokemon">
            <div>
                <div class="row">
                    <div class="col">
                        <h2 class="fw-semibold text-muted"
                            x-text="payload.pokemonName.charAt(0).toUpperCase() + payload.pokemonName.slice(1)"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail border-0"
                             style="width: 75%"
                             alt=""
                             :src="pokemon.sprites.other['official-artwork'].front_default" />
                        <div>
                            <template x-for="ability in abilities" :key="ability.id">
                                <span class="mx-1 badge rounded-pill"
                                      type="button"
                                      :class="ability.isHidden ? 'text-bg-primary' : 'text-bg-secondary'"
                                      @click="toggleAbility(ability.id)"
                                      x-text="ability.name"></span>
                            </template>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <template x-for="stat in statistics">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <h4 class="fs-regular text-muted" x-text="stat.stat.name"></h4>
                                </div>
                                <div class="col-md-9">
                                    <div class="mt-2">
                                        <div class="progress">
                                            <div class="progress-bar text-dark"
                                                 x-text="stat.base_stat"
                                                 role="progressbar"
                                                 style="background-color: #e5d2bf"
                                                 :style="{width:`${(stat.base_stat / 250) * 100}%`}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <p class="display-6" x-text="species"></p>
                    </div>
                </div>
            </div>
        </template>
        {{ payload|json_script:"payload" }}
        <script>
          function pageData() {
            return {
              payload: JSON.parse(document.querySelector("#payload").textContent),
              pokemon: null,
              isValid: true,
              isLoading: true,
              abilities: [],
              statistics: [],
              species: "",
              toggleAbility(id) {
                this.abilities[id].isHidden = !this.abilities[id].isHidden;
                const bonus = this.abilities[id].bonus;
                Object.keys(bonus).forEach((k) => {
                  if (this.abilities[id].isHidden === true) {
                    if (parseInt(this.statistics[bonus[k].item].base_stat) == 0) {
                      console.log(
                        "Zero befores",
                        this.statistics[bonus[k].item].base_stat
                      );
                      this.statistics[bonus[k].item].base_stat =
                        this.pokemon.stats[bonus[k].item].base_stat;
                    } else {
                      this.statistics[bonus[k].item].base_stat += bonus[k].points;
                      parseInt(this.statistics[bonus[k].item].base_stat) > 250
                        ? (this.statistics[bonus[k].item].base_stat = 250)
                        : "";
                    }
                  } else {
                    if (parseInt(this.statistics[bonus[k].item].base_stat) == 250) {
                      this.statistics[bonus[k].item].base_stat =
                        this.pokemon.stats[bonus[k].item].base_stat;
                    } else {
                      this.statistics[bonus[k].item].base_stat -= bonus[k].points;
                      parseInt(this.statistics[bonus[k].item].base_stat) < 0
                        ? (this.statistics[bonus[k].item].base_stat = 0)
                        : "";
                    }
                  }
                });
              },
              async choosenPokemon() {
                const resp = await await fetch(
                  `https://pokeapi.co/api/v2/pokemon/${this.payload.pokemonName}`
                );
                if (resp.ok) {
                  this.pokemon = await resp.json();
                  this.isValid = true;

                  /*
                   * Statistics
                   * Store statistics original values
                   */
                  this.statistics = JSON.parse(JSON.stringify(this.pokemon.stats));

                  /*
                   * Abilities
                   * Store abilities along with bonus points for adding/removing from statistics when its enabled/disabled
                   */
                  const ability = this.pokemon.abilities;
                  Object.keys(ability).forEach((k) => {
                    const obj = {};
                    obj["id"] = k;
                    obj["name"] = ability[k].ability.name;
                    obj["isHidden"] = ability[k].is_hidden;
                    bonus = [];
                    for (let i = 0; i <= Math.floor(Math.random() * 6); i++) {
                      special = {};
                      special["item"] = Math.floor(Math.random() * 6);
                      special["points"] = Math.floor(Math.random() * 88 + 12);
                      bonus.push(special);
                    }
                    obj["bonus"] = bonus;
                    this.abilities.push(obj);
                  });

                  /*
                   * Description of species in english
                   */
                  const respDetails = await fetch(this.pokemon.species.url);
                  if (respDetails.ok) {
                    const data = await respDetails.json()
                    const flavorTextEntries = data.flavor_text_entries;
                    const enLangKey = Object.keys(flavorTextEntries).find(
                      (key) => flavorTextEntries[key].language.name === "en"
                    );
                    this.species = flavorTextEntries[enLangKey].flavor_text;
                  }
                } else {
                  this.isValid = false;
                }
                this.isLoading = false;
              },
            };
          }
        </script>
    </div>
{% endblock %}
